.dashboardContent {
    padding: 20px;

}
h2 {
    margin-bottom: 20px;
}
.palatte {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
label {
    display: block;
}
button {
    margin-right: 10px
}